<html>
    <head>
        <title>Message Board</title>
    </head>

  <body>
    <% messages.map((message) => { %>
        <div>
            <h2><%=message.text%></h2>
            <div>
                <h3><%=message.user%></h3>
                <h3><%=message.added%></h3>
            </div>
        </div>
    <% }) %>
  </body>
</html>
